<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title (click)="routeHome()">Questionable</ion-title>
  </ion-toolbar>
  <ion-item>
    <h1 text-wrap>{{ currentQuestion.question }}</h1>
  </ion-item>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshAnswers($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let answer of answers">
      <app-vote [currentQuestion]="answer" slot="start"></app-vote>
      <ion-label (click)="goToQuestion(answer)">
        <h6 class="ion-text-wrap user-info" (click)="setToProfile()">
          <i><b>{{ answer.username }}</b> answered:</i>
        </h6>
        <h4 class="ion-text-wrap user-answer" color="grey">
          {{ answer.answer }}
        </h4>
        <h2 class="ion-text-wrap user-question">
          <b>{{ answer.question }}</b>
        </h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="goToAnswerQuestion(currentQuestion)">Answer This Question</ion-button>
  </ion-toolbar>
</ion-footer>
