<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label color="q-gray" position="floating">email</ion-label>
    <ion-input type="text" [(ngModel)]="user.email" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="q-gray" position="floating">username</ion-label>
    <ion-input type="text" [(ngModel)]="username" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="q-gray" position="floating">password</ion-label>
    <ion-input type="password" placeholder="Needs to be at least 6 characters" [(ngModel)]="user.password" required></ion-input>
  </ion-item>
  <ion-button color="q-green" class="submit-btn" expand="block" type="submit" (click)="signup()">Sign up</ion-button>
  
  </ion-content>
