<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ask a Question</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label color="q-gray" position="floating">What is your question?</ion-label>
    <ion-input type="text" [(ngModel)]="question" required></ion-input>
  </ion-item>
  
  <ion-button color="q-green" expand="block" type="submit" (click)="submit()">Submit</ion-button>
</ion-content>
