<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <b>{{this.username}}'s Profile:</b>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item>
    <ion-label>
      <h4 class="ion-text-wrap" color="grey">
        Number of Posts
      </h4>
      <h3 class="ion-text-wrap">
        <b>{{ this.numPosts }}</b>
      </h3>
    </ion-label>
    <ion-label>
      <h4 class="ion-text-wrap" color="grey">
        Total Upvotes
      </h4>
      <h3 class="ion-text-wrap">
        <b>{{ this.totalUpvotes }}</b>
      </h3>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let post of posts">
      <app-vote [currentQuestion]="post" slot="start"></app-vote>
      <ion-label (click)="goToQuestion(post)">
        <h2 class="ion-text-wrap">{{ post.question }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color="q-green" *ngIf="!isThisYou()" expand="block" (click)="message()">Message</ion-button>
  </ion-toolbar>
</ion-footer>
