.voting {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1.5rem;
    height: 2rem;
}

.buttonUp {
    position:absolute;
    opacity: .5;
    bottom:21.5px;
    align-self: center;
}

.buttonDown {
    position:absolute;
    top:18px;
    margin-top:.5rem;
    opacity:.5;
    height: 50%;    
    align-self: center;
}


.selected.upvote {
    color: orange;
    opacity:1;
}

.selected.downvote {
    color: blue;
    opacity:1;
}

.count {
    position: absolute;
    bottom:20%;
    align-self: center;
}

