<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button slot="start" (click)="login()">Login</ion-button>
    </ion-buttons>
    <ion-title>Questionable</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h1 align="center">Here you'll see all the questions that other users have posted.</h1>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let question of questions" (click)="goToQuestion(question)">
      <div class="voting">
        <ion-icon name="arrow-up-outline" (click)="updateVote(question, 1)">Upvote</ion-icon>
        <h4 align="center">{{ question.votes }}</h4>
        <ion-icon name="arrow-down-outline" (click)="updateVote(question, -1)">Upvote</ion-icon>
      </div>
      <h4>{{ question.question }}</h4>
    </ion-item>
  </ion-list>
</ion-content>
