<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="!this.service.loggedIn()" (click)="login()">
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="this.service.loggedIn()" (click)="profile()">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Questionable</ion-title>
  </ion-toolbar>
  <ion-button expand="block" (click)="goToAskQuestion()">Ask A Question</ion-button>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshQuestions($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item *ngIf="!this.service.loggedIn()">
    <h1 align="center">Here you'll see all the questions that other users have posted.</h1>
  </ion-item>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="presentPopover($event)">
        <ion-icon name="time-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label (click)="presentPopover($event)">{{ this.cutoffDisplay }}</ion-label>
  </ion-toolbar>
  <ion-list>
    <ion-item *ngFor="let question of questions">
      <app-vote [currentQuestion]="question" slot="start"></app-vote>
      <ion-label (click)="goToQuestion(question)">
        <h6 class="user-info" (click)="setToProfile()">
          <i><b>{{ question.username }}</b> asked:</i>
        </h6>
        <h2 class="ion-text-wrap">{{ question.question }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>